/* Found template from supertokens.com "building a login screen with React
and Bootstrap */
.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .wrapper{
    position: center;
    display: flex;
    align-items: center;
    min-width: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color:#D21404;
  }
  .search{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #ded954;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .navbar-a{
    font-family: Georgia;
    color: #D21404;
    font-weight: bolder;
    font-size: 40px;
  }
  .header-intro{
    font-family: Georgia;
    color: #D21404;
    font-weight:bold;
    font-size: 34px;
  }
  .header-a{
    font-family: Georgia;
    color: #D21404;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  .home-container{
    border:5px solid #efdd0e;
  }

  img{
    border: 5px solid #D21404;
  }